---
import MainLayout from "../layouts/MainLayout.astro";
import Shelf from "../components/Shelf.astro";
import "../styles/global.css";
const { title } = Astro.props;

const url = "https://kutprjsetyxgrdcvsngm.supabase.co/rest/v1/sakura";

const options = {
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1dHByanNldHl4Z3JkY3ZzbmdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzkwNDQwOTYsImV4cCI6MTk5NDYyMDA5Nn0.RnatBkh36ZvkpU3vpFGUZ1eiOO2_4_nKZmoczvvTddM"
	},
};

const response = await fetch(url, options);
const data = await response.json();


const MainStage = data.filter((event) => event.stage === 1);
const SecondStage = data.filter((event) => event.stage === 2);
const OnTheLawn = data.filter((event) => event.stage === 3);

---

<MainLayout>
    <h1>Program</h1>
    
        <div class="programicons">
            <div>
                <img src="../icons/barn.svg" alt="For børn ikon">
                <h4>For børn</h4>
            </div>
            <div>
                <img src="../icons/mad.svg" alt="Mad ikon">
                <h4>Mad</h4>
            </div>
            <div>
                <img src="../icons/workshops.svg" alt="Workshops ikon">
                <h4>Workshops</h4>
            </div>
            <div>
                <img src="../icons/events.svg" alt="Events ikon">
                <h4>Events</h4>
            </div>
        </div>
    
        <h2>Lørdag</h2>
        <h3>22. april</h3>
    
        <section class="listgridlordag">
            <Shelf events={MainStage} stage="Main Stage"/>
            <Shelf events={SecondStage} stage="Second Stage"/>
            <Shelf events={OnTheLawn} stage="On The Lawn"/>
        </section>

    <div class="pinkbox">
        <h2 class="h2sondag">Søndag</h2>
        <h3>23. april</h3>

        <section class="listgridsondag">
            <Shelf events={MainStage} stage="Main Stage"/>
            <Shelf events={SecondStage} stage="Second Stage"/>
            <Shelf events={OnTheLawn} stage="On The Lawn"/>
        </section>

    </div>

</MainLayout>


<style>
    h1 {
        font-family: Sansita;
        font-size: 4rem;
        color: var(--text-red);
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .programicons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: var(--text-red);
        gap: 5%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .programicons img {
        width: 100%;
        min-width: 88px;
    }

    h4 {
        font-size: 1.2rem;
        text-align: center;
        font-family: Sansita;
        margin-top: 4%;
    }

    h2 {
        margin-top: 7%;
        font-size: 3rem;
        font-family: Sansita;
        text-align: center;
        color: var(--text-red);
    }

    h3 {

        font-size: 1.2rem;
        font-family: Roboto;
        text-align: center;
        color: var(--text-red);
    }

.listgridlordag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-bottom: 50px;
}

.h2sondag {
    margin-top: 0%;
}

.pinkbox {
    background-color: var(--text-pink);
    padding: 50px;
    border-top: solid 2px #C5202D;
    border-bottom: solid 2px #C5202D;
}

.listgridsondag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

}

@media (max-width: 900px) {
    .listgridsondag .listgridlordag {
    display: grid;
    grid-template-columns: 1fr;

}
}




</style>