---
import MainLayout from "../layouts/MainLayout.astro";
import Shelf from "../components/Shelf.astro";
import {Debug} from "astro/components";
import "../styles/global.css";
const { title } = Astro.props;

const url = "https://kutprjsetyxgrdcvsngm.supabase.co/rest/v1/sakura";

const options = {
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1dHByanNldHl4Z3JkY3ZzbmdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzkwNDQwOTYsImV4cCI6MTk5NDYyMDA5Nn0.RnatBkh36ZvkpU3vpFGUZ1eiOO2_4_nKZmoczvvTddM"
	},
};

const response = await fetch(url, options);
const data = await response.json();


const MainStage1 = data.filter((event) => event.stage == "MAIN STAGE" && event.date == "2023-04-22");
const MainStage2 = data.filter((event) => event.stage == "MAIN STAGE" && event.date == "2023-04-23");
const SecondStage1 = data.filter((event) => event.stage == "SECOND STAGE" && event.date == "2023-04-22");
const SecondStage2 = data.filter((event) => event.stage == "SECOND STAGE" && event.date == "2023-04-23");
const OnTheLawn1 = data.filter((event) => event.stage == "ON THE LAWN" && event.date == "2023-04-22");
const OnTheLawn2 = data.filter((event) => event.stage == "ON THE LAWN" && event.date == "2023-04-23");

---

<MainLayout>
    <h1>Program</h1>
    
        <div class="programicons">
            <div>
                <img src="../icons/barn.svg" alt="For børn ikon">
                <h4>For børn</h4>
            </div>
            <div>
                <img src="../icons/mad.svg" alt="Mad ikon">
                <h4>Mad</h4>
            </div>
            <div>
                <img src="../icons/workshops.svg" alt="Workshops ikon">
                <h4>Workshops</h4>
            </div>
            <div>
                <img src="../icons/events.svg" alt="Events ikon">
                <h4>Events</h4>
            </div>
        </div>
    
        <h2>Lørdag</h2>
        <h3>22. april</h3>
    

        <section class="listgridlordag">
            <Shelf indhold={MainStage1} stage="MAIN STAGE"/>
            <Shelf indhold={SecondStage1} stage="SECOND STAGE"/>
            <Shelf indhold={OnTheLawn1} stage="ON THE LAWN"/>
        </section>

    <div class="pinkbox">
        <h2 class="h2sondag">Søndag</h2>
        <h3>23. april</h3>

        <section class="listgridsondag">
            <Shelf indhold={MainStage2} stage="MAIN STAGE"/>
            <Shelf indhold={SecondStage2} stage="SECOND STAGE"/>
            <Shelf indhold={OnTheLawn2} stage="ON THE LAWN"/>
        </section>

    </div>

</MainLayout>


<style>
    h1 {
        font-family: Sansita;
        font-size: 4rem;
        color: var(--text-red);
        text-align: center;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .programicons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: var(--text-red);
        gap: 5%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .programicons img {
        width: 100%;
        min-width: 50px;
    }

    h4 {
        font-size: 1.2rem;
        text-align: center;
        font-family: Sansita;
        margin-top: 4%;
    }

    h2 {
        margin-top: 5%;
        font-size: 3rem;
        font-family: Sansita;
        text-align: center;
        color: var(--text-red);
    }

    h3 {

        font-size: 1.2rem;
        font-family: Roboto;
        text-align: center;
        color: var(--text-red);
    }

.listgridlordag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1100px;
    margin-inline: auto;

}

.h2sondag {
    margin-top: 0%;
}

.pinkbox {
    padding-top: 50px;
    background-color: var(--text-pink);
    border-top: solid 2px #C5202D;
    border-bottom: solid 2px #C5202D;
}

.listgridsondag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin-inline: auto;
    padding-bottom: 50px;

}

@media (max-width: 700px) {
    .listgridsondag, .listgridlordag {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2%;
    margin-right: 2%;
}


h4 {
        font-size: 3vw;
        text-align: center;
        font-family: Sansita;
        margin-top: 4%;
    }

}




</style>